html { font-size: 10px; }
body {font-size: 1.6rem;}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }

a {
	&, &:link, &:visited, &:hover, &:active {text-decoration: none;}
}

.section {
	background-color: #eee;
	padding-top: 50px;
	height: 100vh;
	&.main {
		background: url(./../images/clouds-2.jpg) fixed 0 0/cover #A2A3A7;
	}
}


.tile {
	background-color: #00688B;
	padding: 15px;
	margin-top: 15px;
	border-radius: 5px;
	text-transform: uppercase;
	a {color: #fff;}
}

.navbar-header li {
	list-style: none;
	a {
		color: #777;
		&:hover, &:active {text-decoration: none;}
	}
}

